@font-face {
    font-family: Futura-condensed;
    src: url(../fonts/Futura\ Condensed\ Extra\ Bold.otf);
  }

body {
    margin: 0px;
}
main{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #F9DADF;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}

main section {
    scroll-snap-align: center;
}

.first-section a img.logo {
    transition: all 1s;
    width: 8em;
    padding-left: 40px;
    padding-top: 30px;
    position: fixed;
    z-index: 9999999;
    opacity: 1;
}

/* main section:nth-of-type(1) {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
} */
.first-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
}

.first-section > div {
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

main section:nth-of-type(1) div img {
    width: 300px;
    height: 100%;
}

main section:nth-of-type(1) p {
    font-family: Futura-condensed;
    font-size: 1.2rem;
}

.h2 {
    color: #ffffff;
    font-family: Futura-condensed;
    text-transform: uppercase;
    font-size: 4.5em;
    width: 242px;
    margin: 0px;
    line-height: 1.1em;
    text-shadow: 0px 0px 0px #000000,
    0.1px -0.1px 0px #000000,
    0.2px -0.2px 0px #000000,
    0.3px -0.3px 0px #000000,
    0.4px -0.4px 0px #000000,
    0.5px -0.5px 0px #000000,
    0.6px -0.6px 0px #000000,
    0.7px -0.7px 0px #000000,
    0.8px -0.8px 0px #000000,
    0.9px -0.9px 0px #000000,
    1px -1px 0px #000000,
    1.1px -1.1px 0px #000000,
    1.2px -1.2px 0px #000000,
    1.3px -1.3px 0px #000000,
    1.4px -1.4px 0px #000000,
    1.5px -1.5px 0px #000000,
    1.6px -1.6px 0px #000000,
    1.7px -1.7px 0px #000000,
    1.8px -1.8px 0px #000000,
    1.9px -1.9px 0px #000000,
    2px -2px 0px #000000,
    2.1px -2.1px 0px #000000,
    2.2px -2.2px 0px #000000,
    2.3px -2.3px 0px #000000,
    2.4px -2.4px 0px #000000,
    2.5px -2.5px 0px #000000,
    2.6px -2.6px 0px #000000,
    2.7px -2.7px 0px #000000,
    2.8px -2.8px 0px #000000,
    2.9px -2.9px 0px #000000,
    3px -3px 0px #000000,
    3.1px -3.1px 0px #000000,
    3.2px -3.2px 0px #000000,
    3.3px -3.3px 0px #000000,
    3.4px -3.4px 0px #000000,
    3.5px -3.5px 0px #000000,
    3.6px -3.6px 0px #000000,
    3.7px -3.7px 0px #000000,
    3.8px -3.8px 0px #000000,
    3.9px -3.9px 0px #000000,
    4px -4px 0px #000000,
    4.1px -4.1px 0px #000000,
    4.2px -4.2px 0px #000000,
    4.3px -4.3px 0px #000000,
    4.4px -4.4px 0px #000000,
    4.5px -4.5px 0px #000000,
    4.6px -4.6px 0px #000000,
    4.7px -4.7px 0px #000000,
    4.8px -4.8px 0px #000000,
    4.9px -4.9px 0px #000000,
    5px -5px 0px #000000,
    5.1px -5.1px 0px #000000,
    5.2px -5.2px 0px #000000,
    5.3px -5.3px 0px #000000,
    5.4px -5.4px 0px #000000,
    5.5px -5.5px 0px #000000,
    5.6px -5.6px 0px #000000,
    5.7px -5.7px 0px #000000,
    5.8px -5.8px 0px #000000,
    5.9px -5.9px 0px #000000,
    6px -6px 0px #000000,
    6.1px -6.1px 0px #000000,
    6.2px -6.2px 0px #000000,
    6.3px -6.3px 0px #000000,
    6.4px -6.4px 0px #000000,
    6.5px -6.5px 0px #000000,
    6.6px -6.6px 0px #000000,
    6.7px -6.7px 0px #000000,
    6.8px -6.8px 0px #000000,
    6.9px -6.9px 0px #000000,
    7px -7px 0px #000000;
}

.second-h2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 200px;
}

.second-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
    clip-path: polygon(30% 32%, 69% 32%, 69% 97%, 30% 97%);
}

.full-image {
    transition: all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.second-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #B0C6E2;
    position: relative;
    overflow: hidden;
}

.dream {
    background-color: #E44924;
}

.second-section div:nth-of-type(2) {
    position: relative;
    display: block;
    right: 1px;
    left: 1px;
    margin: 0 auto;
    width: 25em;
    position: absolute;
    bottom: 0;
    transition:  all 1s;
}

.second-section div:nth-of-type(1) {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 10.5em;
    top: 2em;
    position: absolute;
    left: -100%;
    bottom: 35px;
    z-index: 3;
    opacity: 0;
    transition: all 1s;
}

.second-section div:nth-of-type(1) p {
    font-size: 20px;
    line-height: 1.5em;
}

.second-section div:nth-of-type(2).full-width {
    transition:  all 1s;
    display: block;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    clip-path: polygon(28% 29%, 71% 29%, 71% 100%, 28% 100%);
}

.second-section div:nth-of-type(2).animate{
    transition:  all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hand {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 800px;
}

.second-section div:nth-of-type(2) h2 {
    pointer-events: none;
    position: absolute;
    font-size: 5em;
    width: 5em;
    left: 1px;
    right: 1px;
    bottom: 130px;
    margin: 0 auto;
    z-index: 5;
    transition:  all 1s;
}

.rotate-left {
    display: block;
    transform: rotate(-90deg);
    transition:  all 1s;
}

.rotate-right {
    padding-top: 50px;
    display: block;
    transform: rotate(90deg);
    transition:  all 1s;
}

.second-section div:nth-of-type(2).animate .rotate-right, .second-section div:nth-of-type(2).animate .rotate-left{
    transform: rotate(0deg);
    padding-top: 0;
    padding-left: .5em;
}

.second-section div:nth-of-type(2).animate h2 {
    text-align: center;
    bottom: 0;
    width: 8em;
    margin: 0 auto;
    left: 1px;
    right: 1px;
}

.second-section div:nth-of-type(1).appear {
    left: 40px;
    opacity: 1;
    top: 2em;
    transition: all 1s;
}

.second-section button {
    opacity: 0;
    transition: all 1s;
    position: absolute;
    right: -100%;
    z-index: 1;
    top: 50%;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.second-section button:before {
    content: "";
    background-color: black;
    width: 0.4em;
    height: 4em;
    top: 0;
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
}

.second-section button:after {
    content: "";
    background-color: black;
    width: 0.4em;
    height: 4em;
    top: 0;
    z-index: 1;
    position: absolute;
    transform: rotate(-45deg);
}

.second-section button.show {
    opacity: 1;
    right: 40px;
    transition: all 1s;
    cursor: pointer;
    z-index: 99999;
    width: 4em;
    height: 4em;
}

.ballet {
    transition: all 1s;
    position: absolute;
    width: 15em;
    top: -10em;
    right: 175px;
    z-index: 1;
    display: block;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    position: relative;
    display: block;
    z-index: 5;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.third-h2 {
    width: 100%;
    transition: all 1s;
    text-align: left;
    position: absolute;
    z-index: 5;
    display: block;
    left: 40px;
    bottom: 70px;
}

button:focus{
    outline: none;
 }

.world {
    background-color: #B0C6E2;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
}

.fourth-img {
    position: absolute;
    margin: 0 auto;
    left: 1px;
    right: 1px;
    z-index: 1;
    width: 450px;
}

.fourth-h2 {
    width: 100%;
    position: absolute;
    bottom: 70px;
    z-index: 2;
    margin: 0 auto;
    left: 1px;
    right: 1px;
    text-align: center;
}

.orange-buttons {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    animation: scale ease-in-out 2s infinite alternate;
    position: absolute;
    right: 1px;
    left: 1px;
    margin: 0 auto;
}

@keyframes scale {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

button svg:hover .st0 {
    fill: #F9DADF;
}

button:focus svg .st0 {
    fill: #F9DADF;
}

.world-container > div:nth-of-type(1) {
    position: absolute;
    top: 121px;
    left: 0px;
    z-index: 2;
    height: 3em;
    width: 7em;
}

.world-container > div:nth-of-type(2)  {
    position: absolute;
    top: 100px;
    left: 124px;
    z-index: 2;
    height: 3em;
    width: 7em;
}

.world-container > div:nth-of-type(3)  {
    position: absolute;
    top: 150px;
    left: 134px;
    z-index: 2;
    height: 3em;
    width: 7em;
}

.world-container > div:nth-of-type(4) {
    position: absolute;
    top: 188px;
    left: 178px;
    width: 7em;
    z-index: 2;
    height: 3em;
}

.world-container > div:nth-of-type(5) {
    position: absolute;
    top: 150px;
    left: 224px;
    z-index: 2;
    width: 7em;
    height: 3em;
}

.world-container > div:nth-of-type(6)  {
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 2;
    width: 7em;
    height: 3em;
}

.world-container > div:nth-of-type(7) {
    position: absolute;
    top: 140px;
    width: 7em;
    left: 287px;
    z-index: 2;
    height: 3em;
}
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .world-container{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-top: 123px;
  }


.balerina {
    transition: all 1s;
    width: 30em;
    top: 2em;
    right: 34px;
}

.third-h2-open{
    transition: all 1s;
    left: auto;
    text-align: right;
    right: 40px;
}

.second-text {
    font-size: 20px;
    line-height: 1.5em;
}

.wave {
    position: absolute;
    bottom: -85px;
    right: 1px;
    left: 1px;
    margin: 0 auto;
    z-index: 1;
}

.coton {
    transition: all 1s;
    background: #E44924;
}

.coton-girl {
    cursor: pointer;
    width: 250px;
    position: absolute;
    margin: 0 auto;
    left: 1px;
    right: 1px;
    bottom: 0px;
}

.second-section div:nth-of-type(2).coton-container {
    background-color: transparent;
    height: 700px;
    z-index: 2;
}

.butterfly {
    width: 280px;
    position: absolute;
    right: 120px;
    top: 120px
}

.fifth-h2 {
    width: 100%;
    position: absolute;
    bottom: 70px;
    z-index: 3;
    margin: 0 auto;
    left: 1px;
    right: 1px;
    text-align: center;
}

.wings {
    position: absolute;
    left: 400px;
    top: 60px;
    z-index: 1;
}

#Layer_2 {
    transition: all 1s;
    width: 70px;
    opacity: 1;
    right: 40px;
    top: 30px;
    position: fixed;
    z-index: 9999999;
}

#Layer_2.hide {
    transition: all 1s;
    opacity: 0;
}

.first-section a img.hide {
    transition: all 1s;
    opacity: 0;
}

.tooltip-container{
    position: relative;
}

.tooltip-container p{
    position: absolute;
    top: -20%;
    width: auto;
    text-align: center;
    display: none;
    z-index: 9999999;
    font-size: 1.1em;
    right: 1px;
    left: 1px;
    margin: 0 auto;
    text-shadow: 0px 0px 0px #000000,
    0.1px -0.1px 0px #000000,
    0.2px -0.2px 0px #000000,
    0.3px -0.3px 0px #000000,
    0.4px -0.4px 0px #000000,
    0.5px -0.5px 0px #000000,
    0.6px -0.6px 0px #000000,
    0.7px -0.7px 0px #000000,
    0.8px -0.8px 0px #000000,
    0.9px -0.9px 0px #000000,
    1px -1px 0px #000000,
    1.1px -1.1px 0px #000000,
    1.2px -1.2px 0px #000000,
    1.3px -1.3px 0px #000000,
    1.4px -1.4px 0px #000000,
    1.5px -1.5px 0px #000000,
    1.6px -1.6px 0px #000000,
    1.7px -1.7px 0px #000000,
    1.8px -1.8px 0px #000000,
    1.9px -1.9px 0px #000000,
    2px -2px 0px #000000,
    2.1px -2.1px 0px #000000,
    2.2px -2.2px 0px #000000,
    2.3px -2.3px 0px #000000,
    2.4px -2.4px 0px #000000,
    2.5px -2.5px 0px #000000,
    2.6px -2.6px 0px #000000,
    2.7px -2.7px 0px #000000,
    2.8px -2.8px 0px #000000,
    2.9px -2.9px 0px #000000;
}

.tooltip-container button:hover + p{ 
    display: inline-block;
}

.tooltip-container button:focus + p{ 
    display: inline-block;
}

.background-coton{
    transition: all 1s;
    background: url(../images/background.png) center center no-repeat;
}
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
    transition: all 1s;
}

footer.hide{
    opacity: 0;
    transition: all 1s;
}

footer p:nth-of-type(1){
    font-weight: bold;
    color: black;
    font-size: 1em;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
footer p:nth-of-type(2){
    font-weight: bold;
    color: black;
    font-size: 1em;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}